@import './variables';

nav {
    background-color: $--primary-background-color !important;

    .brand-logo {
        font-weight: 200;
        letter-spacing: 5px;
    }
    
    .login-button {
        margin: 0 -20px;
        letter-spacing: 1.6px;
    }
}


.btn-floating{
    background-color: $--primary-background-color !important;
    width: 80px!important;
    height: 80px !important;
    i{
        margin-top: 10px;;
        font-size: 40px;
    }
}
.btn-floating:hover{
    background-color:#a172ff !important;
}

label{
    font-size:20px;
}

.btn {
    background-color: #a172ff;
}

.btn:hover {
    background-color: #cbb2ff;
    cursor: pointer;
}